//
   Created by aliasgar on 26/12/13.


.row#about
    .col-md-12.page-header
        h1 About

    .col-md-3
        img.width100.img-rounded(src= src.main, alt='Rushil Kekre')
    .col-md-6.about
        p Hey there!
        p I’m Rushil, from Bangalore, India, and I’m hoping to summarize everything you need to know about me in the next few paragraphs.
        p I've been interested in the field of Animation and Visual Effects for many years now. I began taking an interest in this field at the age of 13. The third Harry Potter movie was due to release back then, and I remember watching the post-production process and was left awestruck. The way Animation and VFX changed the look of the film significantly and added a whole new dimension to it just made me think one thing - "that’s what I want to do". Since then, there has been no turning back. What started out as a spark slowly grew into a massive wild fire.
        p I completed my B.E in Computer Science from Bangalore, India in June 2013. I’ve been working with various animation tools and software since 2012, while studying for my computer science degree. Though challenging at first, it became easier to handle both as time went on, and also as I became more comfortable with the various aspects of animation production. I have studied animation independently, relying on the vast array of resources available on the internet, while also training with Digital-Tutors online, and that allowed me to be a bit more flexible with my learning schedule. My preferred areas of work are modeling, rigging, particle effects (dynamics), and composition.
        p I guess my fascination and continued obsession with this field is because of the amount of creativity and imagination involved. Whole worlds and characters can exist, and reality has no bounds. The thin line between fantasy and reality all seem to blur, distort and fade away. Anything and everything is possible, as long as you can imagine it. All you need to do, is dream. To quote Walt Disney – Laughter is timeless, imagination has no age, and dreams are forever.
        p Cheers!
    .col-md-3
        if src.secondary
            img.width100(src= src.secondary)