//
   Created by aliasgar on 26/12/13.

.row#contact
    .col-md-12.page-header
        h1 Contact
    .col-md-12
        p
            | If you want to get in touch, you can contact me on the following
        div
            p
                abbr(title="Phone") P:
                |  +91 98861 87551
            p
                abbr(title="Email") E:
                |  rushil.kekre@gmail.com