//
   Created by aliasgar on 26/12/13.

.row#projects
    .col-md-12.page-header
        h1 Projects


    .row.project
        .col-md-3
            #battleship-gallery.project-thumbnail
                a(href='img/gallery/intro.png', title='Intro', data-gallery='battleship-gallery')
                    img(src='img/gallery/thumbnails/intro.png', alt='Intro')
                a(href='img/gallery/usergrid.png', title='User Grid', data-gallery='battleship-gallery')
                    img(src='img/gallery/thumbnails/usergrid.png', alt='User Grid')
                a(href='img/gallery/compgrid.png', title='Comp Grid', data-gallery='battleship-gallery')
                    img(src='img/gallery/thumbnails/compgrid.png', alt='Comp Grid')
                a(href='img/gallery/losescreen.png', title='Lose Screen', data-gallery='battleship-gallery')
                    img(src='img/gallery/thumbnails/losescreen.png', alt='Lose Screen')

        .col-md-9
            h3 Battleship
            p Computer version of the popular strategy based game – Battleships. Implemented in C++ with OpenGL. This implementation involves only a single player vs computer mode.

            a.btn.btn-primary(role='button', href='/downloads/cgProj.rar')
                i.fa.fa-download.fa-lg &nbsp;
                | Download

    .row.project
        .col-md-3
            #seating-gallery.project-thumbnail
                a(href='img/gallery/seating/1.png', title='Login', data-gallery='seating-gallery')
                    img(src='img/gallery/thumbnails/seating/1.png', alt='Login')
                a(href='img/gallery/seating/2.png', title='Exam Type', data-gallery='seating-gallery')
                    img(src='img/gallery/thumbnails/seating/2.png', alt='Exam Type')
                a(href='img/gallery/seating/3.png', title='Floor Selection', data-gallery='seating-gallery')
                    img(src='img/gallery/thumbnails/seating/3.png', alt='Floor Selection')
                a(href='img/gallery/seating/4.png', title='Seating Arrangement', data-gallery='seating-gallery')
                    img(src='img/gallery/thumbnails/seating/4.png', alt='Seating Arrangement')

        .col-md-9
            h3 Automated Seating Arrangement System
            p A system for assigning seats to students during college examinations while keeping in mind the various constraints that are usually involved in this process (subjects, batches, etc). Technologies used: HTML, CSS, JavaScript (Front end) and PHP, MySQL (Back end).

            a.btn.btn-primary(role='button', href='/downloads/seating.rar')
                i.fa.fa-download.fa-lg &nbsp;
                | Download


