//
   Created by aliasgar on 26/12/13.

.row#projects
    .col-md-12.page-header
        h1 Projects

    .col-md-3
        #links.project-thumbnail
            a(href='img/gallery/compgrid.png', title='Comp Grid', data-gallery='data-gallery')
                img(src='img/gallery/thumbnails/compgrid.png', alt='Comp Grid')
            a(href='img/gallery/intro.png', title='Intro', data-gallery='data-gallery')
                img(src='img/gallery/thumbnails/intro.png', alt='Intro')
            a(href='img/gallery/losescreen.png', title='Lose Screen', data-gallery='data-gallery')
                img(src='img/gallery/thumbnails/losescreen.png', alt='Lose Screen')
            a(href='img/gallery/usergrid.png', title='User Grid', data-gallery='data-gallery')
                img(src='img/gallery/thumbnails/usergrid.png', alt='User Grid')

    .col-md-9.project
        h3 Description
        p Computer version of the popular strategy based game – Battleships. Implemented in C++ with OpenGL. This implementation involves only a single player vs computer mode.

        a.btn.btn-primary(role='button', href='/downloads/cgProj.rar')
            i.fa.fa-download.fa-lg &nbsp;
            | Project


