//
   Created by aliasgar on 26/12/13.

.row#resume
    .col-md-12.page-header
        h1 Résumé
            a.pull-right.btn.btn-primary(role='button', href='/downloads/CV - Rushil.pdf', target='_blank')
                i.fa.fa-download.fa-lg &nbsp;
                | Résumé


