//
   Created by aliasgar on 26/12/13.


.row#about
    .col-md-12.page-header
        h1 About

    .col-md-3
        | foo
    p.col-md-6.justify
        | Girish Balakrishnan is a researcher in the field of virtual production currently working at Side Effects Software on the Houdini Engine team developing procedural previsualization tools for cinematic pipelines. As part of his work with the SmartVCS, a new mobile freespace camera capture platform, Girish has been at the forefront at rethinking how virtual production could be applied to the masses. His cinematography research work has recently been awarded the Academy of Interactive Arts & Sciences Randy Pausch Award and the Unity Awards at Unite 2013.
    .col-md-3
        | bar