//
   Created by aliasgar on 26/12/13.

.carousel.slide(data-ride='carousel')
    .carousel-inner.header-background
        .item.active
            .main-header-img
                img(src='/img/robot-trial.png')
            .container
                .carousel-caption
                    h1.center Rushil
                        span.text-muted Kekre
                    p.main-header
                        | Animation • Visual Effects • Development