//
   Created by aliasgar on 26/12/13.

.carousel.slide(data-ride='carousel')
    .carousel-inner.dark-background
        .item.active
            .text-center
                img(src='/img/robot-smaller.png')
            .container
                .carousel-caption
                    h1 Rushil
                        span.text-muted Kekre
                    p.justify
                        | This is a template for a simple marketing or informational website.
                        | It includes a large callout called a jumbotron and three supporting pieces of content.
                        | Use it as a starting point to create something more unique