.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href='../') Rushil Kekre
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
                li.dropdown
                    a#themes.dropdown-toggle(data-toggle='dropdown', href='#work')
                        | My work
                        span.caret
                    ul.dropdown-menu(aria-labelledby='themes')
                        li
                            a(tabindex='-1', href='../default/') Default
                        li.divider
                        li
                            a(tabindex='-1', href='../amelia/') Something 1
                        li
                            a(tabindex='-1', href='../amelia/') Something 2
                        li
                            a(tabindex='-1', href='../amelia/') Something 3
                li
                    a(href='#resume') Resume
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#', target='_blank') Placeholder 1
                li
                    a(href='#', target='_blank') Placeholder 2
