extends layout

block content
    include partials/_navbar
    .alert.alert-dismissable
    include partials/_carousel
    .container
        //include partials/_jumbo
        include partials/_about
        include partials/_demo_reel
        include partials/_portfolio
        include partials/_projects
        //include partials/_resume
        include partials/_contact
        include partials/_footer
    include partials/_gallery