extends layout

block content
    .container
        include _navbar
        .alert.alert-dismissable
        include _jumbo
        include _about
        include _portfolio
        include _resume
        include _contact