doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/yeti.css')
    link(rel='stylesheet', href='/css/style.css')
  body
      block content
      script(src='/js/jquery-2.0.3.js')
      script(src='/js/bootstrap.js')