/* Site CSS */
.reel h2{
	font-family: 'Montserrat', sans-serif;
	padding-top: 2%;
	/*margin-top: 40px;*/
	color: rgb(80,80,80);
	letter-spacing: -1px;
	font-weight: 700;
	font-size:30px;
}

.about-details{
	padding-top:1%;
    line-height: 0em;
}
.header{
	text-align: center;
}
.about-details h1{
	font-family: 'Montserrat',sans-serif;
	font-size: 60px;
	/*color: rgb(80,80,80);*/
	color: rgb(40,40,40);
	font-weight: 400;
	letter-spacing: -3.6px;
	/*text-align: center;*/
}
.sub{
	font-family: 'Source Sans Pro', sans-serif;
	/*color: #f2651e;*/
	color: rgb(125,125,125);
	font-size: 20px;
	letter-spacing: 0.25pt;
	/*margin-bottom: 25%;*/
	font-weight: 400;
}
.about-details p{
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgb(40,40,40);
	/*color: rgb(80,80,80);*/
	line-height: 1.5em;
	/*padding-top: 2%;*/
	margin-top: 35px;
}
.red{
	color: #c31014;
}
.me-img{
	height: 100%;
	width: 100%;
}

.work-list{
	padding-top: 4%;
}
.proj{
	padding-bottom: 2%;
}
/*.proj:hover{*/
	/*color: #cc5519;*/
/*}*/
.proj-img{
	height: 100%;
	width: 100%;
}

.proj h3:hover{
	color: #f2651e;
}
.proj h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	letter-spacing: -0.25px;
	color: rgb(80,80,80);
	font-weight: 700;
	line-height: 1.5pt;
}
.proj-details p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgb(80,80,80);
}
.dev{
	color: rgb(0,125,50);
	background: rgb(230,255,240);
}
.wip{
	font-weight: 400;
	color: rgb(160,160,160);
	font-size: 16px;
}
.highlight{
	/*color: #f2651e;*/
}
.proj-extended-details{
	padding-top: 2%;
}
.proj-title h2{
	font-family: 'Montserrat', sans-serif;
	color: rgb(80,80,80);
	font-weight: 700;
	letter-spacing: -1px;
	/*font-size: 30px;*/
}
.proj-content{
	padding-top: 1%;
}
.proj-content p{
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(80,80,80);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
#me{
	color: #f2651e;
}
#bold{
	font-family: 'Montserrat', sans-serif;
	color: rgb(80,80,80);
	font-size: 16px;
	font-weight: 700;
	/*letter-spacing: -0.25px;*/
}
.proj-content a{
	font-family: 'Source Sans Pro', sans-serif;
	color: #323232;
}

.tools{
	height: 5%;
	width: 5%;
	padding-left: 1%;
}
.breakdown{
	padding-bottom: 2%;
}
.proj-results-img{
	padding-top: 2%;
	width: 100%;
	height: 100%;
}
.return{
	padding-top: 2%;
}
a#back{
	color: #f2651e;	
}
a#back:hover{
	color: #323232;
}

.resume{
	padding-top: 2%;
}

a.btn-download{
	background: white;
	color: #323232;
}
a.btn-download:hover{
	background: #f0f0f0;
	color: #323232;
}

.resume-title{
	padding-top: 1%;
	border-bottom: 2px solid #f2651e;
}
.resume-title h3{
	font-family: 'Montserrat', sans-serif;
	color: rgb(80,80,80);
	font-weight: 400;
	letter-spacing: -0.5px;
}

.resume-block{
	padding-top: 1%;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(80,80,80);
	font-size: 16px;
	line-height: 1.5;
}
.italic{
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(80,80,80);
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
}
.resume-dates{
	text-align: right;
}
.resume-details{
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(80,80,80);
	font-size: 15px;
	line-height: 1.5;
	font-weight: 400;
	font-style: italic;
}
.skills{
	text-align: right;
}