/*Fonts*/
/*
font-family: 'Cambay', sans-serif;
font-weight: 400 or 700;
*/

body{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	font-size: 13pt;
}

#light{
	font-weight: 400;
}

#heavy{
	font-weight: 700;
}

/*Footer*/
.footer{
	color: #646464;
	background: #191919;
	padding-top: 15px;
	/*padding-bottom: 5px;*/
}

#copyright{
	line-height: 1.25em;
	font-size: 12pt;
	text-align: left;
}

#social{
	letter-spacing: 10pt;
	text-align: center;
}

#social a, #up a{
	color: #646464;
}

#vimeo:hover, #insta:hover, #fb:hover, #linkedin:hover, #up:hover{
	color: #afafaf;
}

#up{
	text-align: right;
	/*padding-top: -50px;*/
}

/*LANDING PAGE*/

#front-full-logo{
	width:400px;
	margin-top: 320px;
	/*padding-top:250px;*/
}

.btn-reel{
	background-color: transparent;
	color: rgb(240,240,240);
	border-color: #fff;
	margin-top: 20%;
	padding: 20px;
	-webkit-transition:background .3s ease-in-out;
}

.btn-reel:hover{
	background-color: rgb(25,25,25);
	color: #fff;
	border-color: #fff;
	-webkit-transition:background .3s ease-in-out;
}

.reel-head h1{
	font-family: 'Cambay',sans-serif;
	font-weight: 700;
	font-size: 32pt;
	letter-spacing: -1pt;
	line-height: 35pt;
	text-align: right;
	margin-top: 5px;
}


/*ABOUT PAGE*/

#imagewrap{
	background:url(../images/about-me-cover.jpg) no-repeat center top;
	margin-top: -110px;
	padding-top: 250px;
	min-height: 460px;
	width: 100%;
	background-position: center 37%;
	background-size: cover;
}

#about-content{
	padding-top: 50px;
}

#about-content h1{
	font-family: 'Cambay',sans-serif;
	font-weight: 700;
	font-size: 32pt;
	letter-spacing: -1pt;
	line-height: 32pt;
	text-align: right;
	margin-top: 0px;
}

#about-text{
	padding-bottom: 120px;
	text-align: justify;
	/*border-left:solid 1px rgb(175,175,175);*/
}

/*CONTACT SECTION*/

.contact-section h1{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	font-size: 32pt;
	letter-spacing: -1pt;
	line-height: 28pt;
	text-align: center;
	margin-top: -35px;
	padding-bottom: 20px;
	/*margin-right: -70px;*/
	/*padding-right: -15px;*/
	/*border-right: solid 1px rgb(175,175,175); */
}

#contact-vertical{
	border-left: solid 1px rgb(175,175,175);
}

#glyphs p{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	font-size: 14pt;
	padding: 15px;
	/*border-left: solid 1px rgb(175,175,175);*/
}

.glyphicon{
	/*background-color: #afafaf;*/
	/*padding: 25px;*/
	/*border-radius: 50%;*/
	font-size: 3em;
}

/*REEL SECTION*/

.reel-section h1{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	font-size: 32pt;
	letter-spacing: -1pt;
	line-height: 28pt;
	text-align: right;
	margin-top: 5px;
}


/*RESUME PAGE*/
.btn-download{
	background-color: transparent;
	color: #191919;
	border-color: #191919;
	margin-top: 15px;
	padding: 10px;
	-webkit-transition:background .3s ease-in-out;
}

.btn-download:hover{
	background-color: #191919;
	color: #eee;
	border-color: #191919;
	margin-top: 15px;
	padding: 10px;
	-webkit-transition:background .3s ease-in-out;
}

.resume-section h3{
	font-family: 'Cambay',sans-serif;
	font-weight: 700;
	margin-top: 10px;
}

#res-title{
	text-align:right;
	/*line-height: 0.5em;*/
}

#date{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 3px;
}

#head{
	font-family: 'Cambay',sans-serif;
	font-weight: 700;
	/*color: #191919;*/
	margin-bottom: 1px;
	/*margin-top: 5px;*/
	line-height: 1.5em;
}

#subhead{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	color: #333;
	margin: 0px;
	line-height: 1em;
	/*padding-top: 10px;	*/
}

#education{
	padding-top: 30px;
	padding-bottom:30px;
	background: #eee;
}

#education-content{
	text-align: left;
	line-height: 0.6em;
	padding-top: 30px;
}

#skills{
	padding-top: 30px;
	padding-bottom:30px;
	background: #d4d4d4;
}

#skills-list{
	padding-top:10px;
	border-left:solid 1px #afafaf;
	text-align:left;
	line-height: 2em;
	padding-left: 80px;
}

#projects{
	padding-top: 30px;
	padding-bottom:30px;
	background: #fbfbfb;
}

#project-list{
	text-align: left;
	border-left:solid 1px #afafaf;
	line-height: 0.6em;
	padding-top: 15px;
	padding-left: 80px;
}

#project-details{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	font-size: 13pt;
	padding-top: 10px;
	line-height: 1.2em;
	padding-left: 50px;
}

#experience{
	padding-top: 30px;
	padding-bottom:130px;
	background: #eee;
}

#experience-list{
	text-align: left;
	line-height: 0.6em;
	padding-top: 30px;
	padding-left: 80px;
}

#experience-details{
	font-family: 'Cambay',sans-serif;
	font-weight: 400;
	font-size: 13pt;
	padding-top: 10px;
	line-height: 1.2em;
	padding-left: 50px;
}