@import "bootstrap/yeti";
@import "elements";

@header-bg:               darken(@body-bg, 50%);
@main-header-color:       darken(@text-color, 10%);

.justify {
  text-align: justify;
}

.sub-header {
  font-size: 24px;
  color: lighter(@brand-primary, 10%);
}

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500);
.main-header {
  color: @main-header-color;
  font-family: 'Alegreya Sans SC';
  font-size: @font-size-h2;
  font-weight: 100;
}

.main-header-img {
  .text-center;
  padding-right: 10px;
}

.header-background {
  .gradient(@header-bg, @body-bg, @header-bg);
}
