@import "lib/bootstrap/yeti";
@import "lib/font-awesome/font-awesome";
@import "lib/elements";
@import "variables";

.sub-header {
  font-size: 24px;
  color: @brand-primary;
}

// Main Header

.main-header {
  color: @main-header-color;
  font-family: @main-header-font;
  font-size: @font-size-h2;
  font-weight: @main-header-font-weight;
}

.main-header-img {
  .text-center;
  padding-right: 10px;
}

.header-background {
  .gradient(@main-header-bg, @body-bg, @main-header-bg);
}

// About section

.width100 {
  width: 100%;
}

.justify {
  text-align: justify;
}

.about {
  .justify;
  padding-top: @about-padding-top;
}

// Project section

.project-thumbnail {
  margin-top: @project-thumbnail-margin-top;
  a img {
    margin: @project-thumbnail-img-margin;
  }
}